<!doctype html>
<html>
<head>
    <style>
    .error {
            color:red;
        }
    </style> <!-- defines the error style -->
</head>
<header>
    <nav> <!-- puts links at top of every page -->
        <div style="display: flex; justify-content: space-between;"> <!-- alligns the links left and right of page -->
            <div style="display: flex; "> 
                <a href="/">View all users</a> &nbsp; &nbsp;
                <a href="/all_blogs">View all blogs</a> &nbsp; &nbsp;
                <a href="/new_blog">Post a new blog</a>
            </div>
            <div style="display: flex;">
                <a href="/signup">Create an account</a> &nbsp; &nbsp;
                <a href="/login">Log in to account</a> &nbsp; &nbsp;
                <a href="/logout">Log out from account</a>
            </div>
        </div>
    </nav>
</header>
<body> <!-- shows the flashed error messages -->
    {% with messages = get_flashed_messages() %}
    <ul class=error>
        {% for message in messages %}
        <p></p>
        <p></p>
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>