<!doctype html>
<html>

<head>
</head>
<header>
    <nav>
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; ">
                <a href="/">View all users</a> &nbsp; &nbsp;
                <a href="/all_blogs">View all blogs</a> &nbsp; &nbsp;
                <a href="/new_blog">Post a new blog</a>
            </div>
            <div style="display: flex;">
                <a href="/login">Log in to account</a> &nbsp; &nbsp;
                <a href="/logout">Log out from account</a>
            </div>
        </div>

    </nav>
</header>

<body>

    {% with messages = get_flashed_messages() %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>

</html>