
<!doctype html>
<html>
    <head>
    </head>
    <header>
        <nav>
            <a href="/all_blogs">View all blogs</a> &nbsp; &nbsp;
            <a href="/">View all users</a> &nbsp; &nbsp;
            <a href="/new_blog">Post a new blog</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/login">Log in to account</a> &nbsp; &nbsp;
            <a href="/logout">Log out from account</a>
        </nav>
    </header>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>