{% extends 'base.html' %}
{% block content %}    
<h1>New Blog Post</h1>
<form id=form action="/new_blog" method='POST'>
    <table>
        <tr>
            <td>Blog Title</td>
            <td><input name="blog_title" type="text"}></td>
        </tr>
        <tr>
            <td>Blog Post</td>
            <td><textarea name="blog_post" type="textarea" rows="10" cols="100"></textarea></td>
        </tr>
    </table>
    <p></p>
    <input type="submit" value="Add Entry" />
</form>
{% endblock %}